.dia {
  border: 1px solid black;
}

.dia_numsemana {
  text-align: right;
  padding-right: 1rem;
}

.arrastavel {
  border: 3px double darkgreen;
  border-radius: 10px;
  cursor: grabbing;
  padding: 0.5rem;
}

.nao-arrasta {
  height: 100%;
}

:host ::ng-deep {
  .drop-column {
    border: 1px solid transparent;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.p-draggable-enter {
      border-color: #ffffff;
    }
  }
}
